#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
    height: 250px;
    padding: 3px 68px;
    
}
#home::before{
    height: 350px;
    
}
#home p{
    font-size: 13px;
}
#services{
    flex-direction: column;
}

#services .box{
    margin: 0px 4px;
}
#services .box img {
    height: 150px;
    display: block;
    margin: 10px 50px;
    width: 200px;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
     width: 205px;
     padding: 6px;
     height: auto;
}
footer{
    height: 100px;
}